// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.tabs-md-light .tab-button, .tabs-md-light .tab-button-icon, .tabs-md-light .tab-button:hover:not(.disable-hover), .tabs-md-light .tab-button[aria-selected=true], .tabs-md-light .tab-button[aria-selected=true] .tab-button-icon {
    color: rgb(89, 89, 113);
}

.tabs-md-light .tab-button, .tabs-md-light .tab-button-icon {
    &:nth-child(2n) {
        background: #ffffff7a;
    }
}

.toolbar-md-secondary .toolbar-background-md {
    background: linear-gradient(to right, #51aad4, #8585bd) !important;
}

.back-button.show-back-button {
    display: inline-block;
    position: absolute;
    right: 0;
    z-index: 5;
}

.bar-button-menutoggle {
    display: block !important;
    z-index: 5;
}

/*custom Ionicon icon*/
ion-icon {
    &[class*="custom-"] {
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 1em;
        height: 1em;
        font-size: 3em !important;
    }
    &[class*="custom-mynewicon"] {
        mask-image: url(../assets/sys.png);
    }
}

.item-menu {
    font-size: 1.4rem;
    font-weight: bold;
    ion-label {
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    ion-icon {
        font-size: 2rem;
        margin-right: 10px;
        width: 38px;
    }
}

scroll-content, .md scroll-content {
    overflow-y:auto;
}
