page-parceiro {
    .title-area {
        font-size: 1.8rem;
        border-bottom: 1px solid #ccc;
        padding: 15px;
    }
    ion-card-header {
        border-bottom: 1px solid #dcdada;
        margin-bottom: 10px;
        p {
            opacity: 0.8;
        }
        .title {
            color: #595e8e;
            font-size: 1.6rem;
            word-break: break-word;
            white-space: pre-wrap;
            width: 95%;
        }
    }
    ion-card-content {
        p {
            font-size: 1.3rem !important;
        }
    }
    .disabled {
        opacity: 0.4;
    }
    .whatsapp {
        color: #1cd04c;
    }
}
