page-duvidas {
    ion-label {
        white-space: normal !important;
    }
    h2 {
        margin-bottom: 15px !important;
        font-size: 1.8rem !important;
        line-height: 1.4em;
    }
}
